@model IEnumerable<DepartmentViewModel>
@{
    ViewData["Title"] = "Index";
}


@if (TempData["Message"] != null)
{

    <div class="alert alert-primary mt-3">
        @TempData["Message"]
    </div>
    
}
<h1>All Department</h1>
<br />
<br />
<a asp-action="Create" class="btn btn-primary">Create New Department</a>

<div class="row justify-content-center align-items-center mt-5">
    <form asp-action="Index" class="row col-8 offset-1">
        <div class="col-8">
            <input type="search" class="form-control" name="searchValue" placeholder="Search by Name" />

        </div>
        <div class="col-4">
            <input type="submit" class="btn btn-success"/>
        </div>
    </form>
</div>

@if (Model.Any())
{
    <table class=" mt-3 table table-striped table-hover">
        @*Table Head*@
        <thead>
        <tr>
            <td>@Html.DisplayNameFor(d => d.Code)</td>
            <td>@Html.DisplayNameFor(d => d.Name)</td>
            <td>@Html.DisplayNameFor(d => d.DateOfCreation)</td>

            <td>Details</td>
            <td>Update</td>
            <td>Delete</td>
        </tr>
        </thead>
        
        @*table body*@
        <tbody>
            @foreach (var department in Model)
            {
                <tr>
                    <td>@department.Code</td>
                    <td>@department.Name</td>
                    <td>@department.DateOfCreation</td>

                    <partial name="_ButtonsPartialView" model="department.Id.ToString()" />
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="mt-4 alert alert-warning">
        <h3>There is no Department!!</h3>

    </div>
}
